{
    box-sizing:border-box;
}
body{
    margin:0;
}

input[type-text]{
width:100%;
box-sizing: border-box;
border:3px solid #CCC;
border-radius:20px;
font-size:16px;
background-color:white;
background-repeat:no-repeat;
padding: 10px 20px 12px 40px;
}
.box1{
    float: left;
    width:30%;
    margin-bottom: -15px;
}
.box2{
    width:130px;
    float: left;
    width:35%;
    padding:50px;
    height:90px;
}

.timkiem::after{
    overflow: hidden;
    content: "";
    clear: both;
    display:table;
}
.menu{
    overflow:hidden;
    font-family:Arial, Helvetica, sans-serif;
    margin:0px auto;
    background:#eceae900;
}
.menu a{
    float:right;
    font-size:16px;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: white;
}
.dropdown{
    float:left;
    overflow: hidden;
    background:#FF6699;
}
.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}
.menu a:hover, .dropdown:hover .dropbtn:hover{
    background-color: #FF0000;
} 
.dropdown-content{
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    box-shadow: 1;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.column{
    float:left;
    width: 15%;
    padding: 5px;
    background-color:#FF82AB;
    height: auto;
}
.column h3{
    text-align: center;
    margin: 5px;
}
.column a {
    float: none;
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.column a:hover{
    background-color: #696969;
    color: white;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.sp{
    margin-left: 20px;
    overflow: hidden;
    float: left;
    margin-bottom:0px ;
}
.ten{
    width: 290px;
    height: 150px;
    margin-left: 20px;
    overflow: hidden;
    float: left;
    margin-bottom: 5px;
}
.tensp{
    text-align:left;
    font-family: "Lucida Console", Courier, monospace;
    color: #009900;
}
.giasp{
    text-align: right;
    font-size: 16px;
    font-family: "Lucida Console", Courier, monospace;
    color:rgb(241, 7, 7);
}
.ten button{
    color:wheat;
    text-align: center;
    background: #e97407;
    float: right;
    border: 2px solid #888888;
}
.tensp{
    text-align: center;
    font-family:"Times New Roman", Times, serif;
    font-size:17px;
    color: #2F4F4F#008080;
}
.chantrang{
    font-family: "Lucida Console", Courier,monospace;
    background: #f5a4bf;

    height: auto;
        overflow: hidden;
content: "";
clear: both;
display:table;
color:#020a13;
}
.chan1{
    float: left;
    width: 20%;
    padding: 30px;
}
.chan2{
    float: left;
    width: 20%;
    padding: 30px;
}           
.chan3{
    float: left;
    width: 20%;
    padding: 30px;
}
.chan4{
    float: left;
    width: 20%;
    padding: 30px;
}